<!-- app/templates/purchase.html -->
{% extends 'base.html' %}

{% block title %}Compra{% endblock %}

{% block content %}
<h1>Compra</h1>
<form action="{% url 'compras' %}" method="post">
    {% csrf_token %}
    <label for="product">Producto:</label>
    <select id="product" name="product">
        <option value="product1">Laptop - ID1</option>
        <option value="product2">Laptop - ID2</option>
        <option value="product3">Laptop - ID3</option>
    </select>
    <label for="quantity">Cantidad:</label>
    <input type="number" id="quantity" name="quantity" required>
    <button type="submit">Agregar al carrito</button>
    <button type="submit">Confirmar Compra</button>
</form>
{% endblock %}