{% extends "sidebaradmin.html" %}
{% load static %}
{% block content %}
<div class="text-center my-6">
    <h2 class="text-3xl font-extrabold text-gray-900 dark:text-white">Estadísticas</h2>
</div>
<div class="w-full">
    <div class="text-center my-6">
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">Top 3 de productos con más cantidad disponible</h3>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-md">
        <div class="chart-bar">
            <canvas id="grafica2" height="50"></canvas>
        </div>
    </div>
</div>
<div class="w-full">
    <div class="text-center my-6">
        <h3 class="text-2xl font-semibold text-gray-900 dark:text-white">Top 3 Categorías con más productos</h3>
    </div>
    <div class="bg-white border border-gray-200 rounded-lg shadow-md">
        <div class="chart-bar">
            <canvas id="grafica3" height="50"></canvas>
        </div>
    </div>
</div>
<script>
    function obtenerDatosProductos(){
        fetch('http://localhost:4000/productos/verProducto', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            }
        })
        .then(response => response.json())
        .then(data => {
            let productos = data.productos;

            // Ordenar productos por cantidad en orden descendente y tomar los primeros 3
            productos.sort((a, b) => b.cantidad - a.cantidad);
            productos = productos.slice(0, 3);

            let nombres = [];
            let cantidades = [];

            productos.forEach(element => {
                nombres.push(element.nombre);
                cantidades.push(Number(element.cantidad));
            });

            let matriz_datos = [nombres, cantidades];
            graficarProductos(matriz_datos);
        })
    }

    function graficarProductos(data){
        var ctx = document.getElementById('grafica2');
        var ctx2 = ctx.getContext('2d');
        var barChart = new Chart(ctx2,{
            type: 'bar',
            data: {
                labels: data[0],
                datasets: [{
                    label: 'Cantidades',
                    data: data[1],
                    backgroundColor:[
                        'rgb(147, 46, 212)',
                        'rgb(12, 134, 229)',
                        'rgb(32, 195, 94)',
                        'rgb(245,131,9)',
                        'rgb(245,9,113)'
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
    obtenerDatosProductos()
</script>
<script>
    function obtenerDatosCategorias(){
        fetch('http://localhost:4000/productos/verProducto', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            }
        })
        .then(response => response.json())
        .then(data => {
            let productos = data.productos;

            // Contar el número de productos en cada categoría
            let categorias = {};
            productos.forEach(producto => {
                if (categorias[producto.categoria]) {
                    categorias[producto.categoria]++;
                } else {
                    categorias[producto.categoria] = 1;
                }
            });

            // Convertir el objeto en una matriz y ordenar por número de productos
            let categoriasArray = Object.keys(categorias).map(key => {
                return {categoria: key, cantidad: categorias[key]};
            });
            categoriasArray.sort((a, b) => b.cantidad - a.cantidad);

            // Tomar las 3 principales categorías
            categoriasArray = categoriasArray.slice(0, 3);

            let nombres = [];
            let cantidades = [];

            categoriasArray.forEach(element => {
                nombres.push(element.categoria);
                cantidades.push(Number(element.cantidad));
            });

            let matriz_datos = [nombres, cantidades];
            graficarCategorias(matriz_datos);
        })
    }

    function graficarCategorias(data){
        var ctx = document.getElementById('grafica3');
        var ctx2 = ctx.getContext('2d');
        var barChart = new Chart(ctx2,{
            type: 'bar',
            data: {
                labels: data[0],
                datasets: [{
                    label: 'Cantidad de Productos',
                    data: data[1],
                    backgroundColor:[
                        'rgb(147, 46, 212)',
                        'rgb(12, 134, 229)',
                        'rgb(32, 195, 94)',
                        'rgb(245,131,9)',
                        'rgb(245,9,113)'
                    ]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    }
    obtenerDatosCategorias()
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
{% endblock %}